.admintitle{
	background-color: #530602;
	color: #fff;
	height: 150px;
	left-height: 150px;
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 50px;
}
.admintitle, .title{
	margin-top: 20px;
	padding: 20px;
	font-size: 40px;
}

.dashboard{
	background-color: #DEFEFE;
	/*color: #ffffff;*/
	height: 150px;
	left-height: 150px;
	margin-left: 140px;
	margin-right: 140px;
	padding: 50px;
	font-size: 30px;
}

